{$DOMAIN:localhost} {
    rate_limit {
        zone read_notes {
            key {remote_host}
            match {
                method GET
                path /notes/*
            }
            events 60
            window 1m
        }
        zone create_notes {
            key {remote_host}
            match {
                method POST
                path /notes
            }
            events 2
            window 1m
        }
        zone update_notes {
            key {remote_host}
            match {
                method POST
                path /notes/*
            }
            events 30
            window 1m
        }
    }
    reverse_proxy notes:5000
}
